.pie-chart-container {

  top: 0;
  right: -400px; /* Initial position, adjust as needed */
  width: 400px; /* Adjust the width of the pie chart container */
  height: 100vh;
  background-color: #f0f0f0;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.container {
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.container.shifted {
  left: -400px; /* Move the container to the left by the width of the pie chart container */
}

@media (max-width: 992px) {
  .pie-chart-container {
    display: none; /* Hide the pie chart container on smaller screens */
  }

  .container.shifted {
    left: 0;
  }
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}